
form {
    border: 3px solid;
    max-width: 400px;
    margin: 70px auto;
    border-radius: 10px;
    padding: 20px;
    
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    box-sizing: border-box;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }